@import "tailwindcss";
@import '../../../libs/ui/button/src/lib/button/button.css';
@import '../../../libs/ui/input/src/lib/input/input.css';

@keyframes pop {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

body {
    @apply overflow-clip h-screen bg-gray-800 flex flex-col; 
}

::-webkit-scrollbar {
    @apply w-2;
}

::-webkit-scrollbar-track {
    @apply bg-gray-700;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-600;
}